:root {
  --primary-color: #c17a3d;
  --secondary-color: #aaaaa6;
  --divs-color: #f3efe8;
  --background-color: #d9d4cb;
  --border-color: #eae6da;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

